FABRIQ_DATABASE_PATH=./data/fabriq.db
FABRIQ_CONFIG_DIR=../configs
FABRIQ_PYTHON_API_URL=http://127.0.0.1:8000
FABRIQ_MAX_CONCURRENT_RUNS=2
FABRIQ_RUN_TIMEOUT_MS=120000
FABRIQ_SESSION_DAYS=30
FABRIQ_SECURE_COOKIES=false
